{
  "env": {
    "node": true,
    "commonjs": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "no-var": "error",
    "prefer-const": "warn",
    "semi": [
      "warn",
      "always"
    ]
  }
}